@use "variables.scss" as *;

@mixin TextStroke($Color: #000, $Width: 1px) {
    -webkit-text-stroke: $Width $Color;
    paint-order: stroke fill;
    text-shadow:
        -#{$Width} 0 $Color,
        0 #{$Width} $Color,
        #{$Width} 0 $Color,
        0 -#{$Width} $Color;
}

@mixin basePanel {
    background-color: var(--secondary);
    border-radius: $base-spacing * 4;
}

@mixin SectionHeader($accent: var(--accent-pink), $strokeWidth: 3px) {
    font-size: 1.25em;
    font-weight: $font-weight-normal;
    color: white;
    background-color: $accent;
    @include TextStroke($accent, $strokeWidth);
    padding-left: $base-spacing * 4;
    margin-bottom: $base-spacing;
    border: 1px dotted white;
    border-top-left-radius: $base-spacing * 4;
    border-top-right-radius: $base-spacing * 4;
    border-left: none;
    border-right: none;
}
