---
import BaseHead from "../components/core/BaseHead.astro";
import HomeNav from "../components/home/HomeNav.astro";
import HomeMain from "../components/home/main/HomeMain.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="Body">
        <main class="MainContainer">
            <header class="Header">
                <h1>Matt's Corner</h1>
            </header>
            <HomeNav />
            <HomeMain />
            <section class="SideContent">
                About me + Contact Me + featured page + meme calendar
            </section>
        </main>
        <footer>footer</footer>
    </body>
</html>

<style>
    .Body {
        background-image: url("../../public/backgrounds/FloweryWallpaper.png");
        background-size: 800px;
        background-repeat: repeat;
    }

    .MainContainer {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        gap: 2rem;
    }

    .Header {
        grid-column: span 3;
    }
</style>
