---
import HomeLayout from "../layouts/HomeLayout.astro";
import HomeMain from "../components/home/main/HomeMain.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<HomeLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <HomeMain />
    <section class="SideContent">
        About me + Contact Me + featured page + meme calendar
    </section>
</HomeLayout>
