---
import Welcome from "./Welcome.astro";
---

<div class="HomeMain">
    <Welcome />
</div>

<style lang="scss">
    @use "/src/styles/variables.scss" as *;
    @use "/src/styles/mixins.scss" as *;
    .HomeMain {
    }
</style>
