---

---

<section class="Welcome">
    <h2>おかえりなさい!</h2>
    <p>Thanks for stopping by. <br />Would you like some tea?</p>
    <p>
        Feel free to explore the place. Take a look. Go where your interest
        takes you.
    </p>
</section>

<style lang="scss">
    @use "/src/styles/variables.scss" as *;
    @use "/src/styles/mixins.scss" as *;
    .Welcome {
        @include basePanel;
        padding: $base-spacing * 4;
        min-width: 21em;
    }
</style>
