---
import Accordion from "../shared/Accordion.astro";

type NavChildItem = {
    label: string;
    link: string;
};

type NavItem = {
    label: string;
    children: NavChildItem[];
};

const navData: NavItem[] = [
    {
        label: "Site",
        children: [
            { label: "Home.", link: "/" },
            {
                label: "Projects.",
                link: "/projects",
            },
            {
                label: "Interests.",
                link: "/interests",
            },
            {
                label: "Shoutouts!",
                link: "/credits",
            },
        ],
    },
    {
        label: "Blogs",
        children: [
            { label: "Tech", link: "/blogs/tech" },
            { label: "Personal", link: "/blogs/personal" },
        ],
    },
    {
        label: "Outside",
        children: [{ label: "", link: "" }],
    },
];
---

<nav aria-label="Main navigation">
    <div class="HomeNav">
        {
            navData.map((item) => (
                <div class="HomeNav__Item">
                    <Accordion title={item.label} open>
                        <ul class="HomeNav__Submenu" slot="Body">
                            {item.children.map((child) => (
                                <li class="HomeNav__SubmenuItem">
                                    <a
                                        href={child.link}
                                        class="HomeNav__Sublink"
                                    >
                                        {child.label}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </Accordion>
                </div>
            ))
        }
    </div>
</nav>

<style lang="scss">
    @use "../../styles/variables.scss" as *;
    .HomeNav {
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.1rem;
        align-items: flex-start;
        background-color: var(--secondary);
        border-radius: $base-spacing * 4;

        &__Item {
            min-width: 10rem;
        }

        &__Submenu {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__Link {
            display: inline-block;
            padding: 0.875rem 1rem;
            border: 1px solid transparent;
            border-radius: 0.5rem;
        }

        &__Link:hover,
        &__Link:focus-visible,
        &__Sublink:hover,
        &__Sublink:focus-visible {
            text-decoration: underline;
        }

        &__SubmenuItem + &__SubmenuItem {
            margin-top: 0.25rem;
        }
    }
</style>
